@model IEnumerable<MyFleetManagerPro.ViewModels.AllTransactionsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.transaction.TransactionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transaction.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehicle.Registration_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transaction.Spent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transaction.Poured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transaction.OdometerReading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transaction.Merchant)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.TransactionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vehicle.Registration_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.Spent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.Poured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.OdometerReading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transaction.Merchant)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
